* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.wheather-info {
  display: flex;
  align-items: center;
  max-width: 400px;
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
}

.wheather-info-top {
  justify-content: center;
  flex-direction: row;
}

.wheather-info-bottom {
  justify-content: center;
  flex-direction: column;
}

#temperature,
#location,
#description {
  font-weight: 300;
}

#location {
  font-size: 1.5rem;
}

#temperature {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#temperature-value {
  font-size: 3rem;
}
